* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #ffffff;
    --h1: #B42C5B;
    --bg-cards: #0F0E17;
    --e-mail: #1F8BCC;
    --profession: #D3D7C8;
}

.main-container {
    max-width: 1200px;
    margin: 3rem auto;
}


h1 {
    text-align: center;
    color: var(--h1);
}

.introduction {
    padding-top: 4rem;
    padding-bottom: 3rem;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}


.card-row::after {
    content: "";
    display: table;
    clear: both;
}


.card-container {
    float: left;
    width: calc(100% / 3);
    height: 150px;
}






.debug {
    border: 1px solid black;
} 



Font */
/* Slack-lato-400