/* Reset of the browser's default styling values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/* Some shortcuts */
:root {
    --h1: #B42C5B;
    --bg-cards: #0F0E17;
    --e-mail: #1F8BCC;
    --profession: #D3D7C8;
}




body{
    font-family: 'Roboto', sans-serif;
}




/* Pseudo selectors */
.card-row::after {
    content: "";
    display: table;
    clear: both;
}

.card-small-container::after {
    content: "";
    display: table;
    clear: both;
}



/* The whole container and the indtroduction */
.main-container {
    max-width: 1200px;
    margin: 3rem auto;
    text-align: center;
}

.introduction {
    padding-top: 3.5rem;
    padding-bottom: 2rem;
}




/* Text characteristics */
div.introduction-text:first-child{
    padding-left: 10px;
    padding-right: 10px;
}

div.introduction-text:last-child {
    text-align: center;
}

h1 {
    text-align: center;
    color: var(--h1);
}

.name {
    color: #ffffff;
    font-weight: 700;
}

.profession {
    color: var(--profession);
}

.e-mail {
    color: var(--e-mail);
}




/* The single profile's characteristics */
.card-big-container {
    float: left;
    width: calc(100% / 3);
    height: 120px;
}

.card-small-container {
    margin: 10px;
    height: 100px;
    background-color: var(--bg-cards);
}

img {
    display: block;
    float: left;
    height: 98px;
}

.generalities {
    float: left;
    padding-left: 1rem;
    line-height: 2rem;
}

div.generalities span {
    display: block;
}
